body {
    margin: 0;
    background-color: black;
}

.home-page {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.home-page__picture-section {
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: white;
    grid-template: repeat(10, 1fr) / repeat(12, 1fr);
}

@media (orientation: landscape) {
    .home-page__picture-section {
        width: 50vw;
        grid-template: repeat(7, 1fr) / repeat(4, 1fr);
    }
}

.home-page__picture-section__picture {
    grid-area: 1 / 1 / 7 / 11;
}

@media (orientation: landscape) {
    .home-page__picture-section__picture {
        grid-area: 2 / 2 / 6 / 4;
    }
}

.home-page__picture-section__picture__image {
    width: 100%;
    height: 100%;
}

.home-page__picture-section__picture__caption {
    margin: 1em auto;
    text-align: center;
    font: 1.6em sans-serif;
}

.home-page__picture-section__description {
    font-family: serif;
    text-align: center;
    grid-area: 8 / 2 / 8 / 10;
}

@media (orientation: landscape) {
    .home-page__picture-section__description {
        grid-area: 7 / 2 / 7 / 4;
    }
}

.home-page__picture-section__contact-link {
    height: 100%;
    display: flex;
    color: yellow;
    font-size: 1.6em;
    align-items: center;
    text-decoration: none;
    font-family: sans-serif;
    justify-content: center;
    background-color: black;
    grid-area: 9 / 2 / 9 / 10;
}

@media screen and (orientation: landscape) {
    .home-page__picture-section__contact-link {
        display: none;
    }
}

.home-page__picture-section__credits {
   left: 0;
   bottom: 0;
   position: absolute;
}

.home-page__picture-section__credits a {
    color: black;
    display: table-cell;
    text-decoration: none;
    vertical-align: bottom;
}

.home-page__title-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

@media (orientation: landscape) {
    .home-page__title-section {
        width: 50vw;
    }
}

.home-page__title-section__title {
    width: 40%;
    color: white;
    font: 5em serif;
    word-spacing: 100vw;
}

.home-page__title-section__links {
    right: 0;
    top: 2em;
    position: absolute;
    margin: auto 2.5em;
}

.home-page__title-section__links > a {
    width: 2em;
    height: 4em;
    display: flex;
    color: black;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
}

@media screen and (orientation: landscape) {
    .home-page__title-section__links > a {
        color: white;
    }
}

.home-page__title-section__form {
    width: 40%;
}

.home-page__title-section__form > * {
    display: block;
}

.home-page__title-section__form__input {
    width: 100%;
    padding: 0.7em;
    margin: 0.7em auto;
}

.home-page__title-section__form__submit {
    width: 100%;
    display: block;
    padding: 0.7em;
    font-weight: 700;
    font-family: sans-serif;
    box-sizing: content-box;
    background-color: yellow;
}

.home-page__title-section__links__image {
    width: 2em;
    height: 2em;
}