body {
    margin: 0;
}

.home-page {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.home-page__picture-section {
    width: 50%;
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(4, 1fr);
}

.home-page__picture-section__picture {
    grid-area: 2 / 2 / 6 / 4;
}

.home-page__picture-section__picture__image {
    width: 100%;
    max-height: 100%;
}

.home-page__picture-section__picture__caption {
    font: 1.6em sans-serif;
    text-align: center;
    margin: 1em auto;
}

.home-page__picture-section__description {
    grid-area: 7 / 2/ 7 / 4;
    font-family: serif;
    text-align: center;
}

.home-page__picture-section__credits {
    grid-area: 7 / 1 / 7 / 1;
    display: flex;
    align-items: end;
}

.home-page__picture-section__credits a {
    color: black;
    text-decoration: none;
    display: table-cell;
    vertical-align: bottom;
}

.home-page__title-section {
    width: 50%;
    display: flex;
    background-color: black;
    align-items: center;
    flex-direction: column;
}

.home-page__title-section__title {
    color: white;
    font: 5em serif;
    word-spacing: 100vw;
    width: 40%;
}

.home-page__title-section__links {
    position: absolute;
    right: 0;
    top: 2em;
    margin: auto 2.5em;
}

.home-page__title-section__links > a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2em;
    height: 4em;
}

.home-page__title-section__form {
    width: 40%;
}

.home-page__title-section__form > * {
    display: block;
}

.home-page__title-section__form__input {
    width: 100%;
    margin: 0.7em auto;
    padding: 0.7em;
}

.home-page__title-section__form__submit {
    display: block;
    width: 100%;
    padding: 0.7em;
    box-sizing: content-box;
    background-color: yellow;
    font-weight: 700;
    font-family: sans-serif;
}

.home-page__title-section__links__image {
    width: 2em;
    height: 2em;
}