body {
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}

/*
*****************************************************
    Home Page 
*****************************************************
*/

.home-page {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.home-page__picture-section {
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: white;
    grid-template: repeat(10, 1fr) / repeat(12, 1fr);
}

@media screen and (orientation: landscape) {
    .home-page__picture-section {
        width: 50vw;
        grid-template: repeat(7, 1fr) / repeat(4, 1fr);
    }
}

.home-page__picture-section__picture {
    padding: 3vh;
    grid-area: 1 / 1 / 7 / 11;
}

@media screen and (orientation: landscape) {
    .home-page__picture-section__picture {
        grid-area: 2 / 2 / 6 / 4;
    }
}

.home-page__picture-section__picture__image {
    max-width: 100%;
}

.home-page__picture-section__picture__caption {
    margin: 1em auto;
    text-align: center;
    font: 1.6em sans-serif;
}

.home-page__picture-section__description {
    font-family: serif;
    text-align: center;
    padding-bottom: 5vh;
    grid-area: 8 / 2 / 8 / 10;
}

@media screen and (max-aspect-ratio: 1 / 2) and (orientation: portrait) {
    .home-page__picture-section__description {
        padding-bottom: 10vh;
    }
}

@media screen and (orientation: landscape) {
    .home-page__picture-section__description {
        grid-area: 7 / 2 / 7 / 4;
    }
}

.home-page__picture-section__contact-link {
    height: 100%;
    display: flex;
    color: yellow;
    font-size: 1.6em;
    align-items: center;
    text-decoration: none;
    font-family: sans-serif;
    justify-content: center;
    background-color: black;
    grid-area: 9 / 2 / 9 / 10;
}

@media screen and (orientation: landscape) {
    .home-page__picture-section__contact-link {
        display: none;
    }
}

.home-page__picture-section__credits {
   left: 0;
   bottom: -5vh;
   position: absolute;
}

@media screen and (orientation: landscape) {
    .home-page__picture-section__credits {
        bottom: 0;
    }
}

.home-page__picture-section__credits a {
    color: black;
    display: table-cell;
    text-decoration: none;
    vertical-align: bottom;
}

.home-page__title-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

@media screen and (orientation: landscape) {
    .home-page__title-section {
        width: 50vw;
    }
}

.home-page__title-section__title {
    width: 60%;
    color: white;
    font: 5em serif;
    word-spacing: 100vw;
}

@media screen and (orientation: landscape) {
    .home-page__title-section__title {
        width: 40%;
    }
}

.home-page__title-section__links {
    right: 0;
    top: 2em;
    position: absolute;
    margin: auto 2.5em;
}

.home-page__title-section__links > a {
    width: 2em;
    height: 4em;
    display: flex;
    color: black;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
}

@media screen and (orientation: landscape) {
    .home-page__title-section__links > a {
        color: white;
    }
}

.home-page__title-section__form {
    width: 60%;
}

@media screen and (orientation: landscape) {
    .home-page__title-section__form {
        width: 40%;
    }   
}

.home-page__title-section__form > * {
    display: block;
}

.home-page__title-section__form__input {
    width: 100%;
    padding: 0.7em;
    margin: 0.7em auto;
}

.home-page__title-section__form__submit {
    display: block;
    padding: 0.7em;
    cursor: pointer;
    width: calc(100% + 1px);
    box-sizing: content-box;
    border: 1px solid black;
    background-color: yellow;
}

.home-page__title-section__form__submit__text {
    color: black;
    font-weight: 700;
    font-family: sans-serif;
}

#contact_button_text_desktop {
    display: none;
}

@media screen and (orientation: landscape) {
    #contact_button_text {
        display: none;
    }

    #contact_button_text_desktop {
        display: inline;
    }
}

.home-page__title-section__links__image {
    width: 2em;
    height: 2em;
}

/*
*****************************************************
    Work Page 
*****************************************************
*/

.work-page {
    border-top: 0.1em solid white;
    background-color: black;
}

.work-page__title {
    color: white;
    font: 2em serif;
    display: flex;
    justify-content: center;
}

.work-page__positions {
    width: 100vw;
    display: grid;
    justify-items: center;
    grid-template: repeat(3, 1fr) / 1fr;
    padding-bottom: 3em;
    row-gap: 4em;
}

@media screen and (orientation: landscape) {
    .work-page__positions {
        grid-template: 1fr / repeat(3, 1fr);
        row-gap: 0;
    }
}

div[class*='work-page__positions__card'] {
    width: 75%;
    border-top: 1em solid;
    background-color: white;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

@media screen and (orientation: landscape) {
    .work-page__positions__card--vital-images {
        grid-area: 1;
    }

    .work-page__positions__card--rbc {
        grid-area: 1 / 2;
    }

    .work-page__positions__card--ericsson {
        grid-area: 1 / 3;
    }
}

.vital-images {
    border-color: red !important;
}

.rbc {
    border-color: yellow !important;
}

.ericsson {
    border-color: blue !important;
}

.work-page__positions__card__header__title {
    font: 1.4em sans-serif;
    margin-left: 0.5em;
    display: inline-block;
}

.work-page__positions__card__header__date {
    font: 0.9em sans-serif;
    float: right;
    margin-right: 1em;
    color: #333;
}

.work-page__positions__card__description {
    font-family: sans-serif;
    margin-left:  0.8em;
    margin-right: 0.8em;
    text-align: justify;
}

.work-page__positions__card__report-link {
    color: white;
    display: block;
    background-color: black;
    width: calc(100% - 0.2em);
    border: 0.1em solid white;
    text-decoration: none;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: serif;
    margin-top: auto;
}

/*
*****************************************************
    Work Page 
*****************************************************
*/
.projects-page {
    height: 100vh;
    display: grid;
    grid-template: 1fr 2fr 1fr / repeat(4, 1fr);
    background-color: black;
}

.projects-page__title {
    font: 2em serif;
    color: white;
    grid-area: 1 / 2;
    align-self: center;
}

.projects-page__showcase {
    height: 50vh;
    overflow: hidden;
    grid-area: 2 / 2 / 2 / 4;
    background-color: white;
}

button[class*="projects-page"] {
    display: none;
    width: 10vh;
    height: 10vh;
    justify-self: center;
    border-radius: 50%;
    background-color: transparent;
    border: 0.2em solid white;
    cursor: pointer;
    align-self: center;
    justify-content: center;
    align-items: center;
}

@media screen and (orientation: landscape) {
    button[class*="projects-page"] {
        width: 10vw;
        height: 10vw;
        transition: background-color 0.2s;
    }

    button[class*="projects-page"]:hover {
        background-color: white;
        transition: background-color 0.2s;
    }

    button[class*="projects-page"]:hover div {
        border-color: black;
        transition: background-color 0.2s;
    }
}

.projects-page__left-button {
    grid-area: 2 / 1;
}

.projects-page__right-button {
    grid-area: 2 / 4;
}

div[class*="arrow"] {
    width: 3vh;
    height: 3vh;
    border-top: 0.2em solid white;
}

@media screen and (orientation: landscape) {
    div[class*="arrow"] {
        width: 3vw;
        height: 3vw;
    }
}

.projects-page__left-button__arrow {
    border-left: 0.2em solid white;
    rotate: -45deg;
    margin: auto;
}

.projects-page__right-button__arrow {
    border-right: 0.2em solid white;
    rotate: 45deg;
    margin: auto;
}

.noscript-slideshow-image {
    object-fit: cover;
    width: 10vh;
    height: 10vh;
}

.noscript-slideshow-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

.noscript-slideshow-description {
    color: black;
}

.projects-page__showcase__slideshow  {
    height: 50vh;
    width: 200vw;
    position: relative;
}

.projects-page__showcase__slideshow__card {
    color: black;
    width: 50vw;
    height: 50vh;
    display: none;
    position: absolute;
    transition: left 0.5s;
    background-size: cover;
    text-decoration: none;
}

.projects-page__showcase__card__title {
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5em;
    width: fit-content;
    background-color: white;
}

.projects-page__showcase__card__description { 
    width: 85%;
    padding: 0.5rem;
    margin-left: 1rem;
    background-color: white;
}

@media screen and (orientation: landscape) {
    .projects-page__showcase__card__description {
        width: 50%;
    }    
}

.therest { background-image: url('images/therest.webp'); }

.craftworlds { background-image: url('images/craftworlds.webp'); }

.medical { background-image: url('images/medical.webp'); }

.texgen { background-image: url('images/texgen.webp'); }

.first { left: 0vw; }

.second { left: 50vw; }

.third { left: 100vw; }

.fourth { left: 150vw; }